.App {
  text-align: center;
}

.moji {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
}

.foo {
  margin: 80px 0 50px 0;
}

.App p {
  font-size: 24px;
}

.App p span {
  color: pink;
  font-size: 24px;
}